.jumbotron {
    background-color: rgb(49, 49, 124); 
    color: white; 
    text-align: center; 
    font-family: 'Limelight', cursive;
}

.mainArticle {
    margin-bottom: 150px;
    width: 85%;
}

.footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 70px;
    background-color: rgb(49, 49, 124);
}

@media screen and (max-width: 1660px) {
    
}